.formbutton {
  width: 180px;
  height: 68px;
  border: transparent;
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  border-radius: 10px;
}

.img-card {
  position: relative;
  height: 80px;
  left: 30px;
  bottom: 31px;
  width: 80px;
}
.subRow {
  width: 859px;
  height: 108px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 54px;
  text-align: center;
  color: #5e6282;
}
.homecontainer {
  width: 1170px;
  height: 407px;
  display: flex;
  justify-content: center;
  background: #f9f7fe;
  border-radius: 129px 20px 20px 20px;
  margin: auto;
}

.email {
  width: 421px;
  height: 68px;
  background: #ffffff;
  border-radius: 10px;
}

.subCol {
  display: flex;
  justify-content: center;
  margin: 50px;
  position: relative;
}

.subcribtionForm {
  display: flex;
  position: relative;
  justify-content: center;
}
