.card {
  color: azure;
  text-decoration: solid;
}
.cardbody {
  width: 200px;
  text-align: left;
  align-items: center;
}

.card:nth-child(1) {
  background-color: #e3ae57;
}
.card:nth-child(2) {
  background-color: #e9724c;
}
.card:nth-child(3) {
  background-color: black;
}
.card:nth-child(4) {
  background-color: wheat;
  color: black;
}
