.home4 {
  display: flex;
  justify-content: space-between;
}

.carousel-indicators {
  position: relative;
  top: 132px;
  left: -770px;
}

.carousel {
  border-radius: 22px;

  box-shadow: 20px 20px 0px #cfcfcf;
  height: 300px;
  background-color: white;
  color: black;
}
.carousel-control-prev-icon {
  position: relative;
  transform: rotate(90deg);
  background-color: black;
  left: 562px;
  bottom: 45px;
}

.carousel-inner {
  width: 100%;
  overflow: visible;
}

.carousel-control-next-icon {
  position: relative;
  background-color: black;
  transform: rotate(90deg);
  left: 96px;
  top: 60px;
}

.carousel-indicators > button {
  height: 25px;
}

.carousel-indicators [data-bs-target] {
  background-color: #212832;
  width: 15px;
  height: 15px;
  opacity: 0.3;
  margin-right: 2rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.card-img {
  height: 70px;
  width: 70px;
  position: relative;
  left: -25px;
  bottom: 25px;
}

.testimonial-card {
  position: relative;
  bottom: 84px;
  border-radius: 22px;
}
