.App {
  text-align: center;
  background-image: url("./images/Decore.png")
  ;position: absolute;
width: 766.31px;
height: 872.58px;
left: 736px;
top: -149px;

background: #FFF1DA;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
